
.user-image img{ 
  height: 100px;
  width: 100px;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  
  border-radius:50%; 
  -webkit-border-radius:50%; 
  -moz-border-radius:50%;
   -ms-border-radius:50%; 
   -o-border-radius:50%;
}
.user-image{
  padding-bottom: 60px;
  grid-column: 1/3;
  align-items: center;
  text-align: center;
  

 
  
}

